.card {
    position: absolute;
    width: 600px;
    height: 700px;
    background-color: gray;
    margin:30px;
    border-radius: 10px;
    border: 2px solid gray;
}

.card-body {
    position: absolute;
    top: 400px;
    background: white;
    width: 600px;
    height: 300px;
}

.card-title{
    margin: 20px 40px;
    font-weight:bold;
    font-size:35px;
}

.card-text{
    margin: 15px 40px;
    font-size:25px;
}

.card-img-top {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    height:35%;
    display: table-cell;
}

.btn{
    background-color: cornflowerblue;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 40px 40px;
}